---
permalink: /posts-feed.json
eleventyExcludeFromCollections: true
---
[{% for post in collections.publishedPosts %}{"title":{{ post.data.title | dump | safe }},"url":{{ post.url | dump | safe }},"description":{{ post.data.description | dump | safe }},"province":{{ post.data.province | dump | safe }},"city":{{ post.data.city | dump | safe }},"district":{{ post.data.district | default("") | dump | safe }},"product":{{ post.data.product | default("무인자판기") | dump | safe }},"image":{{ post.data.featured_image | default("") | dump | safe }}}{% if not loop.last %},{% endif %}{% endfor %}]
